$primary: rgb(0, 45, 141);
$danger: rgb(19, 134, 201);
$secondary: rgb(0, 0, 0);
$success: rgb(149, 181, 218);
$info: rgb(255, 255, 255);
$warning: rgb(224, 23, 23);
@import "../node_modules/bootstrap/scss/bootstrap";

