* {
    font-family: Oswald;
}

.navbar {
    /* border-bottom: 3px solid rgb(230, 0, 0); */
    /* border-top: 4px solid rgb(0, 45, 141); */
    /* background-image: linear-gradient(to right, #ffffff 15%, rgb(0, 45, 141)); */
    border-bottom: 2px solid rgb(0, 45, 141);
}

.carouselContainer {
    /* height: 500px !important; */
}

.overlay {
    background-color: black;
    opacity: 25%;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
}

.carousel-caption {
    z-index: 10;
    font-size: 90px;
    z-index: 99;
}



.carouselFade {
    /* height: 500px; */
}

.carousel-inner {
    /* max-height: 600px !important; */
}

.wilpineImg {}

.imgContainer {
    height: 700px;

}

.wilpine {
    position: relative;
    bottom: 100px;
}

.bulbs {
    position: relative;
    bottom: 300px;
}

.shelves {
    position: relative;
    bottom: 300px;
}

.paperLights {
    position: relative;
    bottom: 100px;
}

.conduits {
    position: relative;
    bottom: 100px;
}

.generac {
    height: 700px;
    position: relative;

}

.hangingGlass {
    position: relative;
    bottom: 400px;
}

/* .testimonials {
    border-bottom: 3px solid red;
    border-image: linear-gradient(to right, red, blue);



} */

.border-gradient {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #ffffff 4%, #c50101 20%);

}

.ourCustomers {}

.testimonialsContainer {
    background-image: linear-gradient(to right, #00264d 5%, rgb(0, 45, 141) 50%, #00264d 95%);
    font-size: 30px;
    height: 400px;

}

.testimonials h1 {
    font-size: 60px;
}

.ev {
    box-shadow: -7px 8px 13px 0 rgba(0, 0, 0, 0.7);
}

.aboutContainer {
    background-image: linear-gradient(to right, #002168a2 50%, aliceblue 150%), url(./Images/polygonGradientLarge.png) !important;

}

.trapezoidContainer {}

.trapezoid {
    width: 700px;
    height: 400px;
    background: rgba(0, 17, 116, 0.3);
    position: absolute;
    z-index: 0;

    clip-path: polygon(0% 0, 100% 0%, 95% 100%, 0 100%);
}

.aboutText {
    z-index: 2;
    position: absolute;
    /* background-color: hsl(0, 0%, 50%, 0.5); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: -7px 8px 13px 0 rgba(0, 0, 0, 0.25);
    opacity: 85%;
    letter-spacing: 2px;

}

.cardContainer {
    flex-direction: column;

}

.cardImg {
    /* height: 100%; */
    width: 100%;
}

/* .card-img-top {
    height: 65%;
    border-image-source: linear-gradient(to left, #ffffff 4%, #c50101 20%);
} */

.footer {
    height: 8rem;
    background-image: linear-gradient(to right, #00264d 5%, rgb(0, 45, 141) 50%, #00264d 95%);
}

/* .footerLogo {
    width: 12%;
    height: 50%;
} */