* {
    font-family: Oswald;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 45, 141);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.border-gradient {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #ffffff 20%, #c50101 40%);

}

.servicesH1 {
    font-size: 60px;
}

.servicesContainer {
    background-image: linear-gradient(to right, #002168a2 30%, aliceblue 150%), url(./Images/polygonGradientLarge.png) !important;
    height: 700px;
    flex-direction: column;
}

.servicesText {
    z-index: 2;
    /* position: absolute; */
    /* background-color: hsl(0, 0%, 50%, 0.5); */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: -7px 8px 13px 0 rgba(0, 0, 0, 0.25);
    opacity: 85%;
    letter-spacing: 2px;

}

.trapezoid {
    width: 900px;
    height: 275px;
    background: rgba(0, 17, 116, 0.3);
    position: absolute;
    z-index: 0;

    clip-path: polygon(0% 0, 100% 0%, 85% 100%, 0 100%);
}

.servicesUl {
    opacity: 85%;
}

.serviceLi {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23df0000' fill-rule='evenodd' d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-1.87-8.2h1.37c.236 0 .354 0 .427.073s.073.191.073.427v4.43c0 .89 0 1.336.196 1.38c.197.042.383-.362.758-1.17l2.731-5.9c.592-1.278.888-1.917.593-2.378s-1-.462-2.408-.462H12.5c-.236 0-.354 0-.427-.073S12 9.936 12 9.7V5.27c0-.89 0-1.336-.196-1.38c-.197-.042-.383.362-.758 1.17l-2.731 5.9c-.592 1.278-.888 1.917-.593 2.378s1 .462 2.408.462' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* .servicesUl {
    flex-direction: column;
    opacity: 85%;
} */